In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd

from sqlalchemy import Column, Integer, String, Date, SmallInteger, Table, Float, MetaData, ForeignKey
from sqlalchemy.orm import relationship

In [2]:
db_string = "postgresql://admin:123@127.0.0.1:5432/spotify"
engine = create_engine(db_string)
Base = declarative_base()

In [3]:
class Artist(Base):
    __tablename__ = 'artist'
    artist_id = Column(Integer, primary_key=True)
    name = Column(String(50))

    def __repr__(self):
        return "<artist(id='{0}', name={1})>".format(self.artist_id, self.name)


class Song(Base):
    __tablename__ = 'song'
    song_id = Column(Integer, primary_key=True)
    title = Column(String(50))

    def __repr__(self):
        return "<song(id='{0}', name={1})>".format(self.song_id, self.title)

class SongArtist(Base):
    __tablename__ = 'song_artist'
    song_id = Column(Integer, primary_key=True)
    artist_id = Column(Integer, primary_key=True)

    def __repr__(self):
        return "<song id='{0}', artist id={1})>".format(self.song_id, self.artist_id)

class Trend(Base):
    __tablename__ = 'trend'
    trend_id = Column(Integer, primary_key=True)
    trend = Column(String(50))

    def __repr__(self):
        return "<trend(id='{0}', trend={1})>".format(self.trend_id, self.trend)

class Day(Base):
    __tablename__ = 'day'
    day_id = Column(Integer, primary_key=True)
    date = Column(Date)

    def __repr__(self):
        return "<date(id='{0}', date={1})>".format(self.day_id, self.date)

class Region(Base):
    __tablename__ = 'region'
    region_id = Column(Integer, primary_key=True)
    name = Column(String(50))

    def __repr__(self):
        return "<region(id='{0}', name={1})>".format(self.region_id, self.name)

class Category(Base):
    __tablename__ = 'category'
    category_id = Column(Integer, primary_key=True)
    name = Column(String(50))

    def __repr__(self):
        return "<category(id='{0}', name={1})>".format(self.category_id, self.name)

class Chart(Base):
    __tablename__ = 'chart'
    chart_id = Column(Integer, primary_key=True)
    position = Column(Integer)
    song_id = Column(Integer)
    day_id = Column(Integer)
    region_id = Column(Integer)
    category_id = Column(Integer)
    trend_id = Column(Integer)
    streams = Column(Integer)

    def __repr__(self):
        return "<chart(id='{0}', position={1}, song={2}, streams={3})>".format(self.chart_id, self.position, self.song_id, self.streams)

In [4]:
Base.metadata.create_all(engine)

In [69]:
data_ = pd.read_csv('..\data\charts.csv')
data_.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

In [70]:
data = data_.head(50000)

In [71]:
# Artist

df_artist = pd.DataFrame(data['artist'].unique(), columns=['name'])
df_artist = df_artist.assign(name=df_artist['name'].str.split(', ')).explode('name')
df_artist = pd.DataFrame(df_artist['name'].unique(), columns=['name'])
df_artist.reset_index(drop = True, inplace=True)
df_artist.insert(0, 'artist_id', range(1, 1 + len(df_artist)))

df_artist.head(10)

   artist_id               name
0          1            Shakira
1          2       Ricky Martin
2          3               CNCO
3          4           J Balvin
4          5  Pharrell Williams
5          6                BIA
6          7                Sky
7          8       Daddy Yankee
8          9    Sebastian Yatra
9         10             Rombai

In [72]:
# Song

df_song = pd.DataFrame(data['title'].unique(), columns=['title'])
df_song.insert(0, 'song_id', range(1, 1 + len(df_song)))

df_song.head(10)

   song_id                        title
0        1      Chantaje (feat. Maluma)
1        2  Vente Pa' Ca (feat. Maluma)
2        3   Reggaetón Lento (Bailemos)
3        4                       Safari
4        5                  Shaky Shaky
5        6                  Traicionera
6        7      Cuando Se Pone a Bailar
7        8    Otra vez (feat. J Balvin)
8        9                 La Bicicleta
9       10       Dile Que Tu Me Quieres

In [87]:
# Song Artist
df_songArtist = data[['title', 'artist']].drop_duplicates().reset_index().drop(columns = ['index'])
df_songArtist.rename(columns = {'title': 'song_id', 'artist': 'artist_id'}, inplace = True)
df_songArtist = df_songArtist.assign(artist_id=df_songArtist['artist_id'].str.split(', ')).explode('artist_id')
df_songArtist.reset_index(drop = True, inplace=True)

#df_songArtist['song_id'] = df_songArtist['song_id'].map(lambda x:  df_song[df_song['title'] == x].song_id.values.astype(int)[0])
#df_songArtist['artist_id'] = df_songArtist['artist_id'].map(lambda x:  df_artist[df_artist['name'] == x].artist_id.values.astype(int)[0])

artistDict = df_artist.set_index('name').T.to_dict('records')[0]
songDict = df_song.set_index('title').T.to_dict('records')[0]
df_songArtist.replace({"song_id": songDict, "artist_id": artistDict}, inplace=True)

df_songArtist.head(10)

   song_id  artist_id
0        1          1
1        2          2
2        3          3
3        4          4
4        4          5
5        4          6
6        4          7
7        5          8
8        6          9
9        7         10

In [88]:
# Version for Song Artist using indexing
df_songArtist = data[['title', 'artist']].drop_duplicates().reset_index().drop(columns = ['index'])
df_songArtist.rename(columns = {'title': 'song_id', 'artist': 'artist_id'}, inplace = True)
df_songArtist = df_songArtist.assign(artist_id=df_songArtist['artist_id'].str.split(', ')).explode('artist_id')
df_songArtist.reset_index(drop = True, inplace=True)

artistDict = df_artist.set_index('name').T.to_dict('records')[0]
songDict = df_song.set_index('title').T.to_dict('records')[0]

df_songArtist_cp = df_songArtist.loc[3:5].copy()
df_songArtist_cp.replace({"song_id": songDict, "artist_id": artistDict}, inplace=True)
df_songArtist.update(df_songArtist_cp)

df_songArtist.head(10)

                       song_id        artist_id
0      Chantaje (feat. Maluma)          Shakira
1  Vente Pa' Ca (feat. Maluma)     Ricky Martin
2   Reggaetón Lento (Bailemos)             CNCO
3                          4.0              4.0
4                          4.0              5.0
5                          4.0              6.0
6                       Safari              Sky
7                  Shaky Shaky     Daddy Yankee
8                  Traicionera  Sebastian Yatra
9      Cuando Se Pone a Bailar           Rombai

In [74]:
# Trend

df_trend = pd.DataFrame(data['trend'].unique(), columns=['trend'])
df_trend.insert(0, 'trend_id', range(1, 1 + len(df_trend)))

df_trend.head(10)

   trend_id          trend
0         1  SAME_POSITION
1         2        MOVE_UP
2         3      MOVE_DOWN
3         4      NEW_ENTRY

In [75]:
# Day

df_day = pd.DataFrame(data['date'].unique(), columns=['date'])
df_day.insert(0, 'day_id', range(1, 1 + len(df_day)))
#df_day['date'] = pd.to_datetime(df_day['date'], format="%Y/%m/%d")

df_day.head(10)

   day_id        date
0       1  2017-01-01
1       2  2017-01-02
2       3  2018-03-01
3       4  2018-03-02
4       5  2017-01-03
5       6  2017-02-01
6       7  2017-08-01
7       8  2017-08-02
8       9  2020-05-01
9      10  2018-03-03

In [76]:
# Region

df_region = pd.DataFrame(data['region'].unique(), columns=['name'])
df_region.insert(0, 'region_id', range(1, 1 + len(df_region)))

df_region.head(10)

   region_id       name
0          1  Argentina
1          2  Australia
2          3     Brazil
3          4    Austria
4          5    Belgium
5          6   Colombia
6          7    Bolivia
7          8    Denmark
8          9   Bulgaria
9         10     Canada

In [77]:
# Category

df_category = pd.DataFrame(data['chart'].unique(), columns=['name'])
df_category.insert(0, 'category_id', range(1, 1 + len(df_category)))

df_category.head(10)

   category_id     name
0            1   top200
1            2  viral50

In [83]:
# Chart

df_chart = data[['rank', 'title', 'date', 'region', 'chart', 'trend', 'streams']].drop_duplicates().reset_index().drop(columns = ['index'])
df_chart = df_chart.rename(columns = {'title':'song_id', 'rank':'position', 'date':'day_id', 'region':'region_id', 'chart':'category_id', 'trend':'trend_id'})
df_chart.insert(0, 'chart_id', range(1, 1 + len(df_chart)))

#df_chart['song_id'] = df_chart['song_id'].map(lambda x:  df_song[df_song['title'] == x].song_id.values.astype(int)[0])
#df_chart['day_id'] = df_chart['day_id'].map(lambda x:  df_day[df_day['date'] == x].day_id.values.astype(int)[0])
#df_chart['region_id'] = df_chart['region_id'].map(lambda x:  df_region[df_region['name'] == x].region_id.values.astype(int)[0])
#df_chart['category_id'] = df_chart['category_id'].map(lambda x:  df_category[df_category['name'] == x].category_id.values.astype(int)[0])
#df_chart['trend_id'] = df_chart['trend_id'].map(lambda x:  df_trend[df_trend['trend'] == x].trend_id.values.astype(int)[0])

trendDict = df_trend.set_index('trend').T.to_dict('records')[0]
dayDict = df_day.set_index('date').T.to_dict('records')[0]
regionDict = df_region.set_index('name').T.to_dict('records')[0]
categoryDict = df_category.set_index('name').T.to_dict('records')[0]
df_chart.replace({"song_id": songDict, "day_id": dayDict, "region_id": regionDict, "category_id": categoryDict, "trend_id": trendDict}, inplace=True)

df_chart['streams'] = df_chart['streams'].astype(pd.Int64Dtype())

df_chart.head(10)

,chart_id,position,song_id,day_id,region_id,category_id,trend_id,streams
0,1,1,1,1,1,1,1,253019
1,2,2,2,1,1,1,2,223988
2,3,3,3,1,1,1,3,210943
3,4,4,4,1,1,1,1,173865
4,5,5,5,1,1,1,2,153956
5,6,6,6,1,1,1,3,151140
6,7,7,7,1,1,1,3,148369
7,8,8,8,1,1,1,3,143004
8,9,9,9,1,1,1,2,126389
9,10,10,10,1,1,1,3,112012

In [15]:
df_artist.to_sql('artist', engine, if_exists='replace', index = False)
df_song.to_sql('song', engine, if_exists='replace', index = False)
df_songArtist.to_sql('song_artist', engine, if_exists='replace', index = False)
df_trend.to_sql('trend', engine, if_exists='replace', index = False)
df_day.to_sql('day', engine, if_exists='replace', index = False)
df_region.to_sql('region', engine, if_exists='replace', index = False)
df_category.to_sql('category', engine, if_exists='replace', index = False)
df_chart.to_sql('chart', engine, if_exists='replace', index = False)